{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Commands",
            "Facades",
            "AsyncApiServiceProvider.php"
        ]
    },
    "logs": {
        "text": "build/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
